
body {
/*
===================================
        homepage background
===================================
*/

    background-image: url(img/homepagebg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0

/*
===================================
        homepage background
===================================
*/
/*
        FONT DESIGN
*/


}

/*
===================================
        header
===================================
*/
#header {
    z-index: 99999;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Calligraffitti', cursive;
    font-style: italic;
}

.hcontainer {
    border: 4px solid rgba(221,100,76,0.4);
    margin-top: -10px;
    margin-left: -10px;
    width: 102%;
    background: rgba(221,100,76,0.4);
    z-index: 99999;

}

/*
===================================
        footer
===================================
*/
#footer {
    z-index: 99999;
    background-image: url(img/footerbg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    bottom: 0;
    margin-left: -10px;
    width: 102%;


}

.fcontent {
    line-height: 2.5;
}

p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

a {
    border: 1px solid darkslategray;
    border-radius: 25px 10px 10px 10px;
    background: lightpink;
    padding: 7px;
    color: black;
    text-decoration: none;
}

a:hover {
    border: 1px solid hotpink;
    border-radius: 25px 10px 10px 10px;
    background: blue;
    transition: 1s;
    padding: 7px;
    color: white;
}

.fcontainer {
    margin-top: 75px;
    margin-left: -10px;
    bottom: 0;
    width: 102%;
    z-index: 99999;
}

/*
===================================
        input
===================================
*/

.icontent input{
    position: fixed;
    left: 38.5%;
    border: 3px solid black;
    border-radius: 15px 15px 5px 5px;
    background: radial-gradient(lightpink, hotpink);
    opacity: inherit;
    width: 25%;
    font-size: 25px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
}

.icontent input:focus {
    position: fixed;
    font-family: 'Raleway', sans-serif;
    left: 38.5%;
    border: 3px solid black;
    border-radius: 15px 15px 5px 5px;

    background: radial-gradient(lightpink, hotpink);
    color: rgba(225, 231, 235, 0.9);
}

.icontent input::placeholder {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: rgba(225, 231, 235, 0.9);
    font-size: 20px;
    font-weight: 100;
}

/*
===================================
        button
===================================
*/

.clear, .submit, .gwapoKo {
    position: fixed;
    left: 47.8%;
    background: radial-gradient(lightpink, hotpink);
    font-size: 20px;
    color: rgba(225, 231, 235, 0.9);
    border-radius: 15px 15px 5px 5px;
    border: 3px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Raleway', sans-serif;
}

input {
color: rgba(225, 231, 235, 0.99);
}

b {
  font-family: 'Raleway', sans-serif;
}
